*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgb(86, 26, 4);
    color: white;
    padding: 20px;
    z-index: 1000;;
}
.logo{
    margin:0 auto 0 0;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.section{
    padding: 0;
    text-align: center; 
    color: black;
}
.section1{
    display: flex;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    margin-bottom: 0;
}
h1{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.par{
    color:white;
    font-size: 2em;
    margin-top: 20px;
}
.content-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-row: auto;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 90vh;
}
.content-container > div {
    padding: 20px;
}
.about-me{
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 0;
}
.about-me p{
    text-align: justify;
    padding : 0 80px;
}
.education{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}
.education img{
    width: 250px;
    height: 80vh;
}
.edu-cont{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.ah{
    margin-top: 20px;
    font-size: 2.5em;
}
p{
    margin-top: 5px;
    margin-bottom: 10px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px 60px;
    text-align: left;
    height: 80vh;
}
.center-img{
    display: block;
    margin: 40px auto;
}
.project-1{
    background-color: rgb(200, 241, 137);
    padding: 10px;
}
.project-2{
    background-color: rgb(45, 55, 31);
    color: white;
    padding: 15px;
}
.skills{
    padding: 15px;
    background-color:  rgb(200, 241, 137);
}
.skills ul{
    margin-left: 20px;
    padding-left: 20px;
}
.link{
    text-decoration: none;
    color: red;
}
.title{
    text-align: center;
    margin: 20px 60px 20px 10px;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.contact-title{
    
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: SQMarket-Medium;
}
.paragraph{
    margin-top: 20px;
    font-family: SQMarket-Medium;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SQMarket-Medium;
    padding-bottom: 5px;
}